In [13]:
import pandas as pd
import numpy as np
d1 = pd.read_pickle('dataset1.pkl')
d2 = pd.read_pickle('dataset2.pkl')

In [2]:
d1.equals(d2)

False

In [4]:
d1.head(5)

     Year Built  Total Bedrooms  Living Area(SQF)  Total Bathrooms
0  5.031097e-01        0.641662          1.314310         0.177326
1 -1.091762e-14       -0.459475          0.111774        -0.475680
2 -1.091762e-14       -0.459475          0.032935        -0.475680
3 -1.091762e-14       -0.459475         -0.704165        -1.781691
4 -1.091762e-14        0.641662          0.623754        -0.475680

In [5]:
d2.head(5)

     Year Built  Total Bedrooms  Living Area(SQF)  Total Bathrooms
0  5.031097e-01        0.641662          1.314310         0.177326
1 -1.091762e-14       -0.459475          0.111774        -0.475680
2 -1.091762e-14       -0.459475          0.032935        -0.475680
3 -1.091762e-14       -0.459475         -0.704165        -1.781691
4 -1.091762e-14        0.641662          0.623754        -0.475680

In [8]:
print(d1.isna().sum())

Year Built          0
Total Bedrooms      0
Living Area(SQF)    0
Total Bathrooms     0
dtype: int64

In [9]:
print(d2.isna().sum())

Year Built          0
Total Bedrooms      0
Living Area(SQF)    0
Total Bathrooms     0
dtype: int64

In [10]:
def compare_dataframes(df1, df2, ignore_index=True):
    """
    Compare two dataframes and report differences in their columns.
    
    Parameters:
    df1 (pandas.DataFrame): First dataframe to compare
    df2 (pandas.DataFrame): Second dataframe to compare
    ignore_index (bool): Whether to ignore index in comparison (default: True)
    
    Returns:
    dict: Dictionary containing comparison results and details of differences
    """
    results = {
        'are_identical': True,
        'shape_match': True,
        'column_match': True,
        'value_differences': {},
        'missing_columns': {'df1': [], 'df2': []},
        'shape': {'df1': df1.shape, 'df2': df2.shape}
    }
    
    # Check shapes
    if df1.shape != df2.shape:
        results['are_identical'] = False
        results['shape_match'] = False
        
    # Check column names
    cols1 = set(df1.columns)
    cols2 = set(df2.columns)
    
    if cols1 != cols2:
        results['are_identical'] = False
        results['column_match'] = False
        results['missing_columns']['df1'] = list(cols2 - cols1)
        results['missing_columns']['df2'] = list(cols1 - cols2)
    
    # Check common columns for value differences
    common_cols = cols1.intersection(cols2)
    
    for col in common_cols:
        # Reset index if specified
        series1 = df1[col].reset_index(drop=True) if ignore_index else df1[col]
        series2 = df2[col].reset_index(drop=True) if ignore_index else df2[col]
        
        # Handle different data types
        if series1.dtype != series2.dtype:
            results['are_identical'] = False
            results['value_differences'][col] = {
                'type_mismatch': True,
                'types': {'df1': str(series1.dtype), 'df2': str(series2.dtype)}
            }
            continue
        
        # Compare values
        if series1.equals(series2):
            continue
            
        # Handle numeric columns (account for floating point precision)
        if np.issubdtype(series1.dtype, np.number):
            is_close = np.allclose(series1.fillna(0), 
                                 series2.fillna(0), 
                                 equal_nan=True,
                                 rtol=1e-05, 
                                 atol=1e-08)
            if is_close:
                continue
                
        # If we get here, there are differences
        results['are_identical'] = False
        
        # Find positions of differences
        mask = series1 != series2
        if series1.dtype == 'object':
            mask = mask | (series1.isna() != series2.isna())
        
        diff_positions = np.where(mask)[0]
        
        if len(diff_positions) > 0:
            results['value_differences'][col] = {
                'type_mismatch': False,
                'different_value_counts': len(diff_positions),
                'first_few_differences': [
                    {
                        'index': int(pos),
                        'df1_value': str(series1.iloc[pos]),
                        'df2_value': str(series2.iloc[pos])
                    }
                    for pos in diff_positions[:5]  # Show first 5 differences
                ]
            }
    
    return results

In [14]:
compare_dataframes(d1, d2, ignore_index=True)

{'are_identical': False,
 'shape_match': True,
 'column_match': True,
 'value_differences': {'Year Built': {'type_mismatch': False,
   'different_value_counts': 116,
   'first_few_differences': [{'index': 447,
     'df1_value': '-1.0917616140433769e-14',
     'df2_value': '0.8392230055534375'},
    {'index': 448,
     'df1_value': '0.8392230055534375',
     'df2_value': '-1.0917616140433769e-14'},
    {'index': 2108,
     'df1_value': '-1.0917616140433769e-14',
     'df2_value': '0.6951744548254152'},
    {'index': 2110,
     'df1_value': '0.6951744548254152',
     'df2_value': '-1.0917616140433769e-14'},
    {'index': 2667,
     'df1_value': '-1.0917616140433769e-14',
     'df2_value': '0.26302880264134815'}]},
  'Living Area(SQF)': {'type_mismatch': False,
   'different_value_counts': 461,
   'first_few_differences': [{'index': 158,
     'df1_value': '1.7711983071430906',
     'df2_value': '-1.7813186083339179'},
    {'index': 159,
     'df1_value': '-1.7813186083339179',
     'df2_value': '1.7711983071430906'},
    {'index': 201,
     'df1_value': '0.8327259241240306',
     'df2_value': '0.7605357408148721'},
    {'index': 202,
     'df1_value': '0.7605357408148721',
     'df2_value': '0.8327259241240306'},
    {'index': 353,
     'df1_value': '0.4993212617356803',
     'df2_value': '-1.7813186083339179'}]},
  'Total Bathrooms': {'type_mismatch': False,
   'different_value_counts': 156,
   'first_few_differences': [{'index': 2108,
     'df1_value': '-0.47567973058535384',
     'df2_value': '0.17732573775286745'},
    {'index': 2110,
     'df1_value': '0.17732573775286745',
     'df2_value': '-0.47567973058535384'},
    {'index': 2162,
     'df1_value': '2.1363421427675315',
     'df2_value': '4.095358547782195'},
    {'index': 2164,
     'df1_value': '4.095358547782195',
     'df2_value': '2.1363421427675315'},
    {'index': 2331,
     'df1_value': '0.17732573775286745',
     'df2_value': '-0.47567973058535384'}]},
  'Total Bedrooms': {'type_mismatch': False,
   'different_value_counts': 69,
   'first_few_differences': [{'index': 5472,
     'df1_value': '0.6416616706707877',
     'df2_value': '-0.4594750277733248'},
    {'index': 5473,
     'df1_value': '-0.4594750277733248',
     'df2_value': '0.6416616706707877'},
    {'index': 6806,
     'df1_value': '2.8439350675590127',
     'df2_value': '7.248481861335463'},
    {'index': 6807,
     'df1_value': '7.248481861335463',
     'df2_value': '2.8439350675590127'},
    {'index': 7056,
     'df1_value': '0.6416616706707877',
     'df2_value': '-0.4594750277733248'}]}},
 'missing_columns': {'df1': [], 'df2': []},
 'shape': {'df1': (21015, 4), 'df2': (21015, 4)}}

In [16]:
d1 = d1.loc[447:447]
d1

       Year Built  Total Bedrooms  Living Area(SQF)  Total Bathrooms
447 -1.091762e-14        0.641662         -0.707015         -0.47568

In [18]:
d2 = d2.loc[447:447]
d2

     Year Built  Total Bedrooms  Living Area(SQF)  Total Bathrooms
447    0.839223        0.641662         -0.707015         -0.47568